.rotate-wrapper {
  width: 100%;
  position: fixed;
  transform: rotate(320deg);
  transition: transform 3s ease-out;
}

.sun-container {
  position: fixed;
  bottom: -50em;
  left: -50em;
  width: 50em;
  height: 50em;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.sun-container div {
  border-radius: 50%;
  height: 100%;
}

.sunrise div {
  background: -webkit-radial-gradient(rgba(255, 240, 0, 1) 3%, rgba(255, 240, 0, .3) 50%, rgba(255, 240, 0, 0) 75%);
  background: radial-gradient(rgba(255, 240, 0, 1) 3%, rgba(255, 240, 0, .3) 50%, rgba(255, 240, 0, 0) 75%);
}

.noontime div {
  background: -webkit-radial-gradient(rgba(255, 240, 0, .9) 3%, rgba(255, 84, 0, .5) 40%, rgba(255, 84, 0, 0) 100%);
  background: radial-gradient(rgba(255, 240, 0, .9) 3%, rgba(255, 84, 0, .5) 40%, rgba(255, 84, 0, 0) 100%);
}

.sunset div {
  background: -webkit-radial-gradient(rgba(255, 240, 0, 1) 3%, rgba(255, 84, 0, 1) 30%, rgba(255, 84, 0, 0) 70%);
  background: radial-gradient(rgba(255, 240, 0, 1) 3%, rgba(255, 84, 0, 1) 30%, rgba(255, 84, 0, 0) 70%);
}
