html {
  font-size: 30%;
}

body {
  color: #fff;
}

h1 {
  font-size: 7.5em;
  line-height: 1em;
  letter-spacing: .2em;
  padding-top: .1em;
  padding-bottom: .1em;

}

h2 {
  font-size: 4em;
  line-height: 1em;
  letter-spacing: .2em;
}

h1, h2 {
  text-transform: uppercase;
}

h1, h2, div, span, p, label, input {
  font-family: "PT Sans Narrow", sans-serif;
}

sup {
  vertical-align: super;
  font-size: small;
}

.main {
  margin-right: 14%;
  margin-left: 14%;
  padding-bottom: 3em;
  padding-top: 4em;
}

.current-time,
.icon-refresh {
  font-size: 3em;
  line-height: 1em;
}

.icon-refresh {
  font-size: 5em;
  position: relative;
  top: .35em;
  cursor: pointer;
}

.location-heading {
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-data {
  padding-top: 4.5em;
  padding-bottom: 1.5em;
  overflow: hidden;
  border-bottom: .4em solid rgba(255, 255, 255, .25);
}

.current-weather-icon,
.current-weather {
  float: left;
}

.current-weather-additional {
  float: right;
  text-align: center;
}

.current-weather-icon i {
  font-size: 19em;
  position: relative;
  bottom: .1em;
}

.current-temperature {
  font-size: 11em;
}

.current-weather-desc {
  font-size: 2em;
  padding-top: .3em;
  text-transform: uppercase;
}

.current-moon-phase i {
  font-size: 8em;
}

.current-weather-timestamp {
  font-size: 3em;
  letter-spacing: 0;
  padding-top: .78em;
}

.icon-wind-direction {
  position: relative;
}

.icon-wind-direction:after {
  content: '';
  position: absolute;
  top: 0.79em;
  right: 0.94em;
  width: 1.1em;
  text-align: center;
  font-size: 35%;
  line-height: 100%;
  text-transform: uppercase;
}

.weather-today ul {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: 3em;
  padding-bottom: .5em;
  border-bottom: .4em solid rgba(255, 255, 255, .25);
}

.weather-today ul li {
  display: inline-block;
  width: 25%;
}

.weather-today-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.weather-today-desc i,
.weather-today-desc span,
.weather-today-parameters span,
.weather-today-parameters i,
.daily-forecast-data i,
.daily-forecast-data span,
.configs-header i {
  display: block;
}

.weather-today-desc span:first-of-type {
  font-size: 2em;
}

.weather-today-desc i {
  font-size: 7em;
  position: relative;
  top: .15em;
}

.weather-today-desc span:last-of-type {
  font-size: 4em;
}

.weather-today-parameters {
  padding-top: 5em;
  padding-bottom: 3em;
  overflow: hidden;
}

.weather-today-parameters div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  float: left;
  position: relative;
}

.weather-today-parameters i {
  font-size: 7em;
}

.weather-today-parameters span {
  font-size: 4em;
}

.weather-details {
  margin-bottom: 2em;
}

.daily-forecast-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.daily-forecast-wrapper {
  padding-right: 5%;
  padding-left: 5%;
  background-color: rgba(255, 255, 255, .25);
}

.daily-forecast-data {
  height: 8.2em;
}

.daily-forecast-data--with-border {
  border-bottom: .4em solid rgba(255, 255, 255, .25);
}

.daily-forecast-title {
  text-transform: uppercase;
  font-size: 3.5em;
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}

.daily-forecast-data i {
  font-size: 5em;
  -webkit-flex-basis: 22%;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.daily-forecast-temperature span {
  font-size: 4em;
}

.daily-forecast-temperature {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.daily-forecast-temperature div {
  width: 50%;
  height: 2.7em;
  border-radius: 2em;
  background-color: white;
}

.configs {
  background-color: #081322;
  height: 100%;
  width: 100%;
  color: white;
  padding-left: 5%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  box-sizing: border-box;
  -webkit-transition: right 1s ease-in;
  transition: right 1s ease-in;
}

aside.active {
  right: 0;
}

.configs-header {
  height: 8em;
  padding-right: 4%;
  border-bottom: .4em solid rgba(255, 255, 255, .25);
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.configs-header input {
  margin-right: 10%;
  border-radius: 1em;
  position: relative;
  outline: none;
  padding: .1em 3%;
  font-size: 3em;
  box-sizing: border-box;
  width: 50%;
  border: none;
  background-color: #c1c4c9;
}

.configs .icon-menu {
  position: absolute;
  top: .6em;
  font-size: 4em;
  transform: translateX(-2em);
  transition: transform 1.6s ease-out;
  cursor: pointer;
}

aside.active .icon-menu {
  margin-right: auto;
  transform: translate(0);
  transition: transform .4s ease-in;
}

.configs-header .toggle-search-icon {
  margin-right: 8%;
}

.configs-header i {
  font-size: 4em;
  cursor: pointer;
}

.configs ul {
  height: 88%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  box-sizing: border-box;
}

.places-list {
  height: 70%;
  height: calc(100% - 42em);
}

.places-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: .4em solid rgba(255, 255, 255, .25);
}

.places-list__item--clickable {
  cursor: pointer;
}

.places-list__item i {
  display: block;
  font-size: 7em;
  position: relative;
  top: .15em;
  margin-left: 3%;
  margin-right: 3%;
  color: rgba(255, 255, 255, .5);
}

.places-list__item > span {
  display: block;
  font-size: 7em;
  margin-right: 4%;
}

.places-list div span:first-child {
  display: block;
  font-size: 3.5em;
  white-space: normal;
}

.places-list div span:last-child {
  font-size: 2em;
  text-transform: uppercase;
  position: relative;
  top: .55em;
  color: rgba(255, 255, 255, .5);
}

.places-list-wrapper {
  height: 65%;
  position: relative;
}

.checklist li {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search-no-results {
  border-bottom: none;
}

.search-no-results > span {
  margin: 0 auto;
  font-size: 5em;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  width: 5em;
  height: 5em;
  background-color: #000;
  margin-right: 4.5%;
  margin-left: auto;
}

.places-list__item input[type=checkbox] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.places-list__item input[type=checkbox] + i {
  position: absolute;
  font-size: 5em;
  right: .05%;
  display: none;
}

.places-list__item input[type=checkbox]:checked + i {
  color: #ff4200;
  display: block;
}

.cities-list__item {
  cursor: pointer;
}

.configs-footer {
  height: 34em;
  min-height: 34em;
  width: 100%;
  padding-left: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #152132;
  box-sizing: border-box;
}

.settings-header {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;
  border-bottom: .4em solid rgba(255, 255, 255, .25);
}

.settings-header i {
  font-size: 4em;
  float: right;
  margin-right: 3%;
}

.settings-header span {
  font-size: 4em;
  cursor: pointer;
}

div.settings-header span:hover {
  color: white;
}

.settings-header span {
  color: rgba(255, 255, 255, .25);
}

.settings-header span.active {
  color: #fff;
}

.settings-header span:first-child {
  padding-right: 8%;
  border-right: .1em solid rgba(255, 255, 255, .25);
}

.settings-header span:nth-child(2) {
  padding-left: 7%;
}

.settings-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 5%;
  padding-top: 2.5em;
  padding-bottom: 3em;
}

.settings-block:first-of-type {
  border-bottom: .4em solid rgba(255, 255, 255, .25);
}

.settings-block label,
.settings-block span {
  display: inline-block;
}

.settings-block label {
  text-transform: uppercase;
  color: rgba(255, 255, 255, .25);
  font-size: 2.5em;
  padding-left: 2%;
}

.settings-block input {
  margin-top: .5em;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.settings-block > span {
  font-size: 2.5em;
  padding-right: .5%;
}

i.active {
  color: #ff4200;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

/*SLIDERS*/
.ui-widget-content {
  background-color: #0a1019;
  border: none;
  outline: none;
}

.ui-widget-header {
  background-color: #ff4200;
}

.ui-slider-handle {
  border-radius: 50%;
  outline: none;
  box-sizing: border-box;
}

.ui-slider-handle:focus {
  outline: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active {
  background-color: #0a1019;
  border: .85em solid #fff;
  width: 3.1em;
  height: 3.1em;
  top: -1.1em;
}

.settings-slider {
  width: 95%;
}

/*GALLERY*/
.swiper-container {
  padding-bottom: 5em;
}

.swiper-pagination-bullet {
  width: 2em;
  height: 2em;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

/*SCROLLBARS*/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-inner > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: transparent;
}

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #fff;
}

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #fff;
}

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
}

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
}

.places-list > .scroll-element .scroll-bar {
  display: none;
}

/*IPHONE 6 PORTRAIT*/
@media all
and (min-width: 375px) {
  html {
    font-size: 35%;
  }

}

@media all
and (min-width: 414px) {
  html {
    font-size: 40%;
  }

  .weather-today-parameters .icon-wind-direction + span {
    bottom: 2.5em;
  }

}

/*IPHONE 6 LANDSCAPE*/
@media all
and (-webkit-min-device-pixel-ratio: 2)
and (min-width: 375px)
and (max-width: 736px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2), all
and (min-resolution: 192dpi)
and (min-width: 375px)
and (max-width: 736px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  html {
    font-size: 35%;
  }

  .main {
    margin-right: 10%;
    margin-left: 5%;
  }

  .weather-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  .selected-locality-info {
    width: 50%;
    box-sizing: border-box;
  }

  .weather-today-wrapper {
    width: 50%;
    box-sizing: border-box;
  }

  .current-data {
    border-bottom: none;
  }

  .daily-forecast-wrapper {
    padding-top: 3em;
    height: 40em;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .daily-forecast-data {
    height: 100%;
    width: 14%;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .daily-forecast-data:not(:last-child) {
    border-bottom: none;
  }

  .daily-forecast-temperature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 52%;
    -ms-flex-preferred-size: 52%;
    flex-basis: 52%;
  }

  .daily-forecast-temperature span {
    display: inline-block;
  }

  .daily-forecast-title {
    -webkit-flex-basis: 12%;
    -ms-flex-preferred-size: 12%;
    flex-basis: 12%;
  }

  .daily-forecast-data i {
    -webkit-flex-basis: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
  }

  .daily-forecast-temperature {
    width: 25%;
  }

  .daily-forecast-temperature div {
    width: 100%;
    height: 12em;
  }

  /*SIDEBAR*/
  .configs {
    padding-left: 3%;
  }

  .places-list-wrapper {
    height: 100%;
    width: 57%;
  }

  .settings-header {
    padding-top: 2em;
    padding-bottom: 1.5em;
  }

  .places-list {
    width: 57%;
    height: 90%;
    height: calc(100% - 8em);
  }

  .configs-footer {
    height: 100%;
    width: 43%;
    right: 0;
    left: auto;
  }

  .sidebar-header {
    width: 57%;
  }

}

/*IPHONE 6+ LANDSCAPE*/
@media all
and (-webkit-min-device-pixel-ratio: 2)
and (min-width: 414px)
and (max-width: 736px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2), all
and (min-resolution: 192dpi)
and (min-width: 414px)
and (max-width: 736px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  .weather-today-parameters .icon-wind-direction + span {
    bottom: 2.5em;
    right: 37%;
  }

  .configs .icon-menu {
    transform: translateX(-2.2em);
  }

  .sidebar-header {
    width: 57%;
  }

}

@media all
and (min-width: 768px) {

  .main {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 10em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .weather-details {
    width: 52%;
    padding-right: 2%;
  }

  .daily-forecast {
    width: 48%;
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }

  .daily-forecast-data {
    height: 11.7em;
  }

  .configs {
    width: 50%;
    padding-left: 3%;
    right: -50%;
  }

  .configs .icon-menu {
    transform: translateX(-2.2em);
  }

  .configs ul {
    height: 89%
  }

  .places-list-wrapper {
    height: 76%
  }

  /*.configs-footer {*/
  /*height: 24%;*/
  /*}*/
  .weather-today-parameters .icon-wind-direction + span {
    right: 38%;
    bottom: 2.55em;
  }
}

@media all
and (min-width: 1024px) {

  .main {
    padding-top: 0;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }

  .weather-details {
    width: 33%;
    box-sizing: border-box;
  }

  .daily-forecast {
    width: 33%;
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    margin-top: 2em;
    box-sizing: border-box;
  }

  .configs {
    width: 33%;
    right: -33%;
  }

  .swiper-container-horizontal > .swiper-pagination {
    width: 66%;
  }

  .places-list-wrapper {
    height: 62%;
  }

  .configs ul {
    height: 92%
  }

  /*.configs-footer {*/
  /*height: 38%;*/
  /*}*/
  .weather-today-parameters .icon-wind-direction + span {
    right: 40%;
    bottom: 2.55em;
  }
}

/*IPAD LANDSCAPE*/
@media all
and (-webkit-min-device-pixel-ratio: 2)
and (min-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2), all
and (min-resolution: 192dpi)
and (min-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  .weather-details {
    width: 50%;
  }

  .daily-forecast {
    width: 48%;
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    margin-top: 2em;
    margin-right: 2%;
  }

  .weather-today-parameters .icon-wind-direction + span {
    right: 41%;
  }

  .configs {
    width: 50%;
    right: -50%;
  }

  .swiper-container-horizontal > .swiper-pagination {
    width: 100%;
  }

  .configs ul {
    height: 89.5%
  }

  .configs .icon-menu {
    transform: translateX(-2.4em);
  }

}

@media all
and (min-width: 1280px) {

  .configs .icon-menu {
    transform: translateX(-3em);
  }

}

@media all
and (min-width: 1367px) {

  html {
    font-size: 50%;
  }

  .configs .icon-menu {
    transform: translateX(-3em);
  }

}
